*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.input-zone {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.input-zone-input {
    flex: 1;
    margin-right: 10px;
}

.message-author {
    font-weight: bold;
}

.messages {
    border: 1px solid #000;
    margin: 10px;
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
    padding: 5px;
}

#board table {
    margin: 10rem auto 0;
}

    #board table tbody {
        border: 1px solid black;
    }

#board tr td.cell {
    width: 75px;
    height: 75px;
    text-align: center;
}

td.cell.light-cell {
    background-color: lightgoldenrodyellow;
}

td.cell.dark-cell {
    background-color: green;
}

.board-figure {
    font-size: 2.5rem;
}

.opponent-figure {
    cursor: default;
}

.my-figure {
    cursor: pointer;
}

td.selected::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 2px solid red;
    pointer-events: none;
    z-index: 1;
}

#board table tbody tr,
#board table tbody tr td {
    position: relative;
}

.row-numbering {
    position: absolute;
    left: -2rem;
    font-size: 1.5rem;
    color: #2196f3;
    top: 50%;
    transform: translateY(-50%);
}

.col-numbering {
    position: absolute;
    bottom: -2.5rem;
    font-size: 1.5rem;
    color: #2196f3;
    left: 50%;
    transform: translateX(-50%);
}

.captures {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
}

    .captures > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        margin: 2rem 0rem;
    }

        .captures > div > span {
            margin-right: 1rem;
            font-size: 2.5rem;
            width: 50px;
        }