/*!********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/main.css ***!
  \********************************************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.input-zone {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.input-zone-input {
    flex: 1;
    margin-right: 10px;
}

.message-author {
    font-weight: bold;
}

.messages {
    border: 1px solid #000;
    margin: 10px;
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
    padding: 5px;
}

#board table {
    margin: 10rem auto 0;
}

    #board table tbody {
        border: 1px solid black;
    }

#board tr td.column {
    width: 75px;
    height: 75px;
    text-align: center;
}

td.column.light-cell {
    background-color: lightgoldenrodyellow;
}

td.column.dark-cell {
    background-color: green;
}

.board-figure {
    font-size: 2.5rem;
}

.opponent-figure {
    cursor: default;
}

.my-figure {
    cursor: pointer;
}

.selected {
    outline: 2px inset red;
}
